app/seed/OnboardingNewcomersGooglesuite.json
{
  "name": "Onboarding Newcomers Googlesuite",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{  $('Webhook').item.json.email }}",
        "subject": "Welcome to NetHR Team!",
        "emailType": "text",
        "message": "Welcome to the team ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        144
      ],
      "id": "1af727fb-11f4-43af-8788-24a1ee3c0f7a",
      "name": "Send a message",
      "webhookId": "61663597-03d2-493b-a758-c7b5986cc57d",
      "credentials": {
        "gmailOAuth2": {
          "id": "cLkHUCavHIfZLAq8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "1va0Hp4SOsPdWn8AYGLZNNNRRmz6ociCY",
          "mode": "list",
          "cachedResultName": "Deriv Ai (Team 8)",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1va0Hp4SOsPdWn8AYGLZNNNRRmz6ociCY"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Webhook').item.json.email }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        176
      ],
      "id": "9918e1a7-403d-4a82-8e60-aae7989d78b2",
      "name": "Share folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tsgEwLwHg5ZaPGME",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "e36f78c3281200772d5225bf42e2ce45ef3584f2e4c720a84bb4c4c1cb54d2ca@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "nethr"
        },
        "end": "={{ \n  $now\n    .plus(1, 'month')\n    .startOf('month')\n    .plus(\n      $now.plus(1, 'month').startOf('month').weekday > 5\n        ? 8 - $now.plus(1, 'month').startOf('month').weekday\n        : 0,\n      'days'\n    )\n}}",
        "useDefaultReminders": false,
        "additionalFields": {
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "Onboarding Employee (Office Tour, Access cards, etc. )"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9aaba679-fc15-41c0-ae3e-0841aec43fd8",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IxPF391uFXZdyXSx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Sample Input\n[\n  \n{\n  \n  \n\"full name\": \n\"Ahmad Ameerul Rasyid\",\n  \n  \n\"email\": \n\"ahmadameerulrasyid@graduate.utm.my\"\n  \n}\n]"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -64
      ],
      "id": "288694ee-f18f-4044-883b-bf6ac089a628",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "onboarding_newcomers_googlesuite",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        144
      ],
      "id": "3696eb20-2a03-4206-9060-5768a2c269e6",
      "name": "Webhook",
      "webhookId": "9bcbfddc-ca66-4bf4-bccd-7c6183076469"
    }
  ],
  "connections": {
    "Send a message": {
      "main": [
        [
          {
            "node": "Share folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
  }
}